<section class="phx-hero">
  <!--<h1><%= gettext "%{name}!", name: "School Attendance Management Dashboard" %></h1>-->

  <section class="row">
    <article class="column">
      <h2>Dashboard</h2>
      <ul>
        <li>
          <a href="http://localhost:4000/sessions">Session Management</a>
        </li>
      </ul>
    </article>
  </section>
  
</section>
